@page "/"

<PageTitle>Index</PageTitle>

<h1>Fusioncharts ! Integration with Blazor</h1>

Welcome to your new app. 
JavaScript charts for web and mobile apps

<SurveyPrompt Title="How is Blazor working for you?" />
